<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" name="firstName" [(ngModel)]="registerData.first_name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" name="lastName" [(ngModel)]="registerData.last_name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="registerData.username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="registerData.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="registerData.password" required></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" type="submit" expand="block" [disabled]="!registerForm.valid">
      Register
    </ion-button>
  </form>
</ion-content>